<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center hero-unit">
  <h1>Test App</h1>


  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary signup"%>
</div>

  </body>
</html>
